body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    height: 4rem;
    background-color: white;
}

.fa-compass{
    color: #fe242d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-social, .f-info-links, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-social i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn, .edit-btn{
    background-color: #fe242d !important;
    border: none !important;
}


/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

#map { 
    height: 400px;
    width: 90vh;
}

/* Hero Section */
.hero-section {
    height: 85vh;
    background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e")
        no-repeat center center/cover;
    position: relative;
}

/* Dark overlay */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* Content styling */
.hero-content {
    position: relative;
    color: white;
    z-index: 1;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content p {
    font-size: 1.2rem;
}

/* Button */
.explore-btn {
    padding: 10px 25px;
    font-size: 1.1rem;
    border-radius: 25px;
}




